.flex-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.card{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    border-radius: 5px;
    gap: 10px;
    padding: 5px;
}
.card-img {
    height: 20px;
    widtH: 20px;

    border: 2px solid black;
    border-radius: 50px;

    padding: 10px;
}
