.flex-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.card{
    display: flex;
    flex-direction: column;
    
    border-radius: 5px;
    gap: 10px;
    padding: 10px;
    margin: 10px;

    height: 80px;
    width: 250px;

    box-shadow: 2px 2px 10px grey;
}
.card-primary-section{
    display: flex;
    gap: 10px;
}
.card-img {
    height: 20px;
    widtH: 20px;

    border: 1px solid black;
    border-radius: 50px;

    padding: 8px;
}
.card-section-link{
    display: flex;
    justify-content: space-between;
}
.ext-link{
    height: 15px;
    width: 15px;
}
